@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

html {
  background: #000 !important
}

.blob-background {
  background-image: radial-gradient(circle, #616161 60%, transparent 60%);
  position: absolute;
  top: 58%;  
  left: 48%;
  transform: translate(-50%, -50%);
  width: 120%;  /* Slightly larger than the image to create a halo effect */
  height: 90%;
  z-index: -1; 
  border-radius: 50%;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes flyIn {
  from { letter-spacing: 2em;}
  to { letter-spacing: 0.15em}
}

@keyframes bottomFly {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}